* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

/***HEADER***/
header {
height: 130px;
margin-top: 20px;
background-color: rgb(252, 104, 244);
}


/***JUMBOTRON***/
.jumbotron {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(243, 222, 106);
}

.maincontain {
    background-color: rgb(34, 120, 250);
}


/***MAIN***/

/***Sezione Principale***/
.sezione {
    background-color: lightblue;
}

/***Prima Sezione***/
.sect1 {
    background-color: lightblue;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 250px;
}





/***DEBUG***/

/***Altezza Main***/
.debug-cont {
    height: 600px;
}

/***Altezza Sezione Principale***/
.debug-sp {
    height: 100px;
}

/***Altezza Prima Sezione***/
.debug-s1 {
    height: 450px;
}