* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

/***HEADER***/
header {
height: 100px;
margin-top: 20px;
background-color: rgb(252, 104, 244);
}


/***JUMBOTRON***/
.jumbotron {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(243, 222, 106);
}

.contenitore {
    background-color: rgb(0, 102, 255);
}



/***DEBUG***/

/***Altezza Main***/
.debug-cont {
    height: 600px;
}