* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}



/***FLOAT***/
.left {
    float: left;
}

.right {
    float: right;
}


/***HEADER***/
header {
height: 130px;
margin-top: 20px;
background-color: rgb(252, 104, 244);
}


/***JUMBOTRON***/
.jumbotron {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(243, 222, 106);
}

.maincontain {
    background-color: rgb(34, 120, 250);
}


/***MAIN***/

/***Sezione Principale***/
.sezione {
    background-color: lightblue;
}

/***Prima e Terza Sezione***/
.sect1-3 {
    background-color: lightblue;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
}

/***Seconda Sezione***/
.sect2 {
    background-color: lightblue;
    margin-top: 30px;
    margin-right: 22px;
    margin-bottom: 30px;
    margin-left: 22px;
    width: 56%;
}

/***FOOTER***/
footer {
    height: 70px;
    background-color: rgb(177, 18, 240);
    margin-top: 15px;
}





/***DEBUG***/

/***Altezza Main***/
.debug-cont {
    height: 600px;
}

/***Altezza Sezione Principale***/
.debug-sp {
    height: 100px;
}

/***Altezza Prima - Seconda - Sezione***/
.debug-sez {
    height: 450px;
}

